* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #071629;
    color: white;
}

header {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav.logo {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
}

nav.logo ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav.logo ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.banner {
  height: 100vh;
  background-image: url("../css_advanced/Images/Object.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #071629);
  z-index: 1;
}

.banner > * {
  z-index: 2;
}

.banner h1 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 20px;
}

.banner .keywords {
  display: flex;
  gap: 30px;
  margin: 10px 0 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.banner button {
  margin-top: 20px;
  padding: 14px 32px;
  background-color: #C271FF;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.banner button:hover {
  background-color: #a84ded;
}


.learn {
  margin-top: 60px;
}

.profiles {
  display: flex;
  justify-content: center;
  gap: 65px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.profile {
  text-align: center;
  max-width: 180px;
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.learn h2 {
  font-size: 24px;
  font-weight: normal;
}

.learn h2 span {
  color: #C271FF;
  font-weight: bold;
}

.quote {
  background-color: #C271FF;
  padding: 60px 20px;
  color: white;
  text-align: left;
}

.main_quote {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

.main_quote img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.quote-text {
  max-width: 600px;
}

.quote-text blockquote {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.quote-text h4 {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.quote-text p {
  font-style: italic;
}

.tutorial {
  padding: 60px 20px;
  background-color: white;
  color: #071629;
  text-align: center;
}

.tutorial h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
}

.tutorial h2 span {
  font-weight: bold;
  color: #C271FF;
}

.tutorial-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto; 
  padding: 0 20px;
}

.video-card {
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.image-container {
  position: relative;
}

.image-container img.tutorial-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.image-container img.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}

.video-info {
  padding: 15px;
  text-align: left;
}

.video-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.video-info p {
  font-size: 10px;
  color: #6c757d;
  margin-bottom: 12px;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.author h4 {
  font-size: 13px;
  color: #C271FF;
}

.rating-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-duration img.rating {
  height: 14px;
}

.rating-duration span {
  font-size: 12px;
  color: #C271FF;
}

.tutorial h2 span {
  color: #C271FF;
  font-weight: bold;
}

.thumbnail {
  position: relative;
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 2;
}

.play-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.membership {
  background-color: #071629;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.membership h2 {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 300;
}

.membership h2 span {
  color: #C271FF;
  font-weight: bold;
}

.m_cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.m_card {
  max-width: 200px;
}

.m_card img {
  width: bold;
  margin-bottom: 20px;
}

.m_card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.m_card p {
  font-size: 14px;
  line-height: 1.5;
}

.m_button {
  padding: 14px 32px;
  background-color: #C271FF;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.m_button:hover {
  background-color: #a84ded;
}












/* Source Sans Pro - Regular */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Source Sans Pro - Bold */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Spin Cycle OT */
@font-face {
  font-family: 'Spin Cycle OT';
  src: url('fonts/Spin-Cycle-OT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
